<style>
  .hiddenRow {
    padding: 0 !important;
  }

  .accordion-toggle td:first-child:after {
    content: "\f078"; /* fa-chevron-down */
    font-family: 'FontAwesome';
    right: 0;
  }

  tr[aria-expanded="true"] > td:first-child:after{
    font-family: 'FontAwesome';
    content: "\f077"; /* fa-chevron-up */
  }

  .ng-binding {
    margin-top: 5px;
    margin-left: 5px;
  }
</style>

<div class="news-v3 bg-color-white margin-bottom-60">

  <% if (data.coverUrl) { %>
    <% if (data.coverType == 'img') { %>
      <img class="img-responsive full-width" src="<%= data.coverUrl %>" alt="" onerror="this.src='/assets/labfnp/img/blog_event_default_cover.jpg';">
    <% } else{ %>
      <div class="responsive-video">
        <iframe src="<%= data.coverUrl %>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    <% } %>
  <% } %>
  <div class="news-v3-in">

    <div class="row">
      <div class="blog-title col-md-8">
        <h2><%= data.title %></h2>
      </div>

    </div>

    <div class="blog-content">
      <%- data.content %>
    </div>

    <div class="panel panel-brown margin-bottom-40 margin-top-20">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-question-circle-o"></i>常見問題</h3>
			</div>
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
              <th></th>
							<th></th>

						</tr>
					</thead>
					<tbody>
            <% data.Events.forEach(function(Event){ %>
  						<tr data-toggle="collapse" data-target="#event<%= Event.id %>" class="accordion-toggle">
                <td></td>
                <td>
                  Q: <%= Event.title %>
                </td>
              </tr>
              <tr>
                  <td colspan="5" class="hiddenRow">
                    <div class="accordian-body collapse" id="event<%= Event.id %>">
                      <div ng-show="ticket.description" class="">
                      </div>
                      <div ng-show="ticket.description" class="ng-binding">
                        <% var description = Event.description.replace(/[\r\n|\n]/g,"<br/>").split('<br/>');%>
                        <% description.forEach(function( desc ){ %>
                          <%= desc %><br/>
                        <% }); %>
                      </div>
                    </div>
                  </td>
              </tr>
            <% }); %>
					</tbody>
				</table>
			</div>
		</div>

  </div>
</div>

<% LayoutUtils.addScriptBlock(``); %>
