
<div class="b2b-breadcrumbs">
  <div class="container" style="max-width: 960px;">
    <h1>完成訂購</h1>
  </div>
</div>
<div class="container b2b-order-form">

  <div class="row">
    <div class="row col-lg-12" style="margin: 1.5em 0 0 1em;">
      <strong>訂單編號: </strong><%= data.item.orderNumber %>
    </div>

    <div class="row col-lg-6" style="margin-top: 2em;">
      <div class="col-sm-3 col-lg-5">
        <i class="fa fa-user info-icon" aria-hidden="true"></i>
      </div>
      <div class="col-sm-9 col-lg-7">
        <table style="margin-top: 3.2em;">
          <tbody>
            <tr>
              <th style="font-size: 1.5em;" colspan="2">訂購人資訊</th>
            </tr>
            <tr>
              <th style="width: 6em;" >訂購姓名：</th><td><%= (data.item.lastname + data.item.firstname) ? (data.item.lastname + data.item.firstname): '' %></td>
            </tr>
            <tr>
              <th>電子郵件：</th><td><%= data.item.User.email ? data.item.email : '' %></td>
            </tr>
            <tr>
              <th>通訊地址：</th><td><%= data.item.User.address ? data.item.User.address : '' %></td>
            </tr>
            <tr>
              <th>聯絡電話：</th><td><%= data.item.telephone ? data.item.telephone: '' %></td>
            </tr>
          </tbody>
        </table>
      </div>
  	</div>

    <div class="row col-lg-6" style="margin-top: 2em;">
      <div class="col-sm-3 col-lg-5">
        <i class="fa fa-truck info-icon" aria-hidden="true"></i>
      </div>
      <div class="col-sm-9 col-lg-7">
        <table style="margin-top: 3.2em;">
          <tbody>
            <tr>
              <th style="font-size: 1.5em;" colspan="2">收件人資訊</th>
            </tr>
            <tr>
              <th style="width: 6em;">收件姓名：</th>
              <td>
              <%= (data.item.shippingLastname ? data.item.shippingLastname : '') + (data.item.shippingFirstname ? data.item.shippingFirstname : '') %>
              </td>
            </tr>
            <tr>
              <th>電子郵件：</th><td><%= data.item.shippingEmail ? data.item.shippingEmail : '' %></td>
            </tr>
            <tr>
              <th>收件地址：</th>
              <td>
              <%= ( data.item.shippingPostcode ? data.item.shippingPostcode : '' ) + ' ' + (data.item.shippingAddress1 ? data.item.shippingAddress1 : '') %>
              </td>
            </tr>
            <tr>
              <th>聯絡電話：</th><td><%= data.item.telephone ? data.item.shippingTelephone : '' %></td>
            </tr>
            <tr>
              <th>運送方式：</th><td><%= data.item.shippingMethod ? data.item.shippingMethod : '' %></td>
            </tr>
            <tr>
              <th>運費：</th><td>免運費</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>


  <table class="table" style="margin-top: 3.2em;">
    <thead>
      <tr>
        <th>品名</th><th>選項</th><th>單價</th><th>數量</th><th>小計(未稅)</th><th>稅金</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i = 0, len = data.product.length; i < len; i++) { %>
        <tr>
          <td><%= data.product[i].model %></td>
          <td><%= data.product[i].option || '' %></td>
          <td>$ <%= data.product[i].formatPrice %></td>
          <td><%= data.product[i].quantity %></td>
          <td>$ <%= data.product[i].formatTotal %></td>
          <td>$ <%= data.item.formatTax %></td>
        </tr>
      <% } %>
    </tbody>
  </table>

  <hr style="border-top: 3px solid #eee"/>

  <table class="b2b-bill-info pull-right" style="margin-top: 1em;">
    <tr>
      <th>合計</th><td>$ <%= data.item.formatTotal %></td>
    </tr>
    <tr>
      <th>營業稅</th><td>$ <%= data.item.formatTax %></td>
    </tr>
    <tr>
      <th>總計</th><td>$ <%= data.item.formatTotalWithTax %></td>
    </tr>
  </table>

  <button class="btn btn-default btn-lg pull-right paid" style="clear:right; display:inline-block; margin:1.6em 0 3em;" onclick="goBackIndex();">繼續選購</button>

</div>

<% LayoutUtils.addScriptBlock(`
  function goBackIndex(){
    swal({
      title: "確認",
      text: "是否離開此頁面？",
      type: "info",
      confirmButtonClass: "btn-info",
      confirmButtonText: "是的",
      cancelButtonText: "先不要",
      showCancelButton: true,
      closeOnConfirm: true,
      showLoaderOnConfirm: true
    }, function (confirm) {
      if(confirm){
        window.location = "/";
        return true;
      } else {
        return false;
      }
    });
  }

  $(document).ready(function(){

  })
`); %>
