<% LayoutUtils.addMeta({ property:"og:image", content:SocialService.getShareUrl() + "/assets/b2b/img/fb-og-image.jpg" }); %>
<% LayoutUtils.addMeta({ property:"og:image:url", content:SocialService.getShareUrl() + "/assets/b2b/img/fb-og-image.jpg"  }); %>
<% LayoutUtils.addMeta({ property:"og:image:type", content:"image/jpeg" }); %>
<% LayoutUtils.addMeta({ property:"og:image:width", content:"1200" }); %>
<% LayoutUtils.addMeta({ property:"og:image:height", content:"630" }); %>
<% LayoutUtils.addMeta({ property:"og:title", content:"" }); %>
<% LayoutUtils.addMeta({ property:"og:description", content:"" }); %>
<% LayoutUtils.addMeta({ property:"og:type", content:"website" }); %>

<% include partials/sideMenuForMobile.ejs %>
<% include partials/sideMenu.ejs %>

<!-- Interactive Slider v2 -->
<div class="">
  <div class="gray-bg" style="
    position: fixed;
    background: #e6e6e6;
    width: 100%;
    height: 100%;
    z-index: -1;"></div>
  <% include lib/login.inc.ejs %>
	<div class="row b2b-content b2b-content-header">
		<div class="col-md-12">
			<h1 style="
      height: 161px;
      background: rgba(255, 255, 255, 0);
      margin: 35px 10px 37px;
      /* text-align: center; */
      line-height: 161px;
      font-size: 7em;
      color: #545454;
      text-transform: uppercase;">b2b</h1>
		</div>
		<!--<div class="col-md-4">
			<form class="b2b-login">
			  <div class="form-group">
			    <input class="form-control" placeholder="Email">
			  </div>
			  <div class="form-group">
			    <input class="form-control" placeholder="Password">
			  </div>
				<button type="button" class="btn btn-gray btn-lg btn-block">登入系統</button>
			</form>
		</div>-->
  </div>
	<div class="row b2b-content b2b-content-body">

    <% if (!data.items || data.items.length == 0) { %>
      <div class="no-product">
        <img class="no-product-img" src="/assets/b2b/img/sold-out.png" />
        <span>目前此分類沒有任何商品！</span>
      </div>
    <% } else { %>
      <% for(var p = 0, len = data.items.length; p < len; p++) { %>
        <div class="col-sm-4 col-md-3 col-xl-2 product" >
          <a data-id="<%= data.items[p].id %>" href="/product/<%= data.items[p].id %>">
            <div class="product-img" style="background-image: url('<%= data.items[p].image%>');"></div>
            <h1 class="product-name" title="<%= data.items[p].model %>" data-toggle="tooltip" data-placement="bottom"><%= data.items[p].model %></h1>
          </a>
          <span class="promotion-label">限量優惠</span>
          <p class="product-price">
            <i class="fa fa-dollar"></i><span><%= data.items[p].price %></span><small>起</small>
          </p>
          <div class="form-group">
            <div>
              <label class="control-label">特級 <%= data.items[p].price %> /包</label>
            </div>
            <div>
              <label class="control-label"><%= data.items[p].weight %> 公克/包</label>
            </div>
            <% if(data.items[p].quantity > 0) { %>
              <div>
                <label class="control-label">目前庫存 <%= data.items[p].quantity %>包</label>
              </div>
              <a href="/product/<%= data.items[p].id %>" style="margin: 9px 8px 0 0;" class="btn btn-default col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">訂購</a>
            <% } else { %>
              <div>
                <label class="control-label outOfStock">此商品已售完</label>
              </div>
              <button  style="margin: 9px 8px 0 0;" class="btn btn-default col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" disabled>訂購</button>
            <% } %>
          </div>
        </div>
      <% } %>
    <% } %>

	</div>

</div>

<% LayoutUtils.addScripts('/assets/unify/js/app.js', '/assets/unify/js/plugins/owl-carousel.js'); %>
<% LayoutUtils.addScriptBlock(`
  var error = ${errors ? 'true' : 'false'};
  var infoMsg  = '${req.flash('info')[0]}';
  if (error) {
    var errorMsg = '${errors}';
    if (errorMsg === 'Error.Passport.BadUserPassword') {
      errorMsg = '帳號或密碼有誤';
    }
    swal("Oops", errorMsg , "warning");
  }
  if (infoMsg !== 'undefined') {
    swal("提醒", infoMsg , "info");
  }

  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
`); %>
