<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <!-- <title><%= title %></title> -->
  <title>摩托車雜誌-資訊網</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%- include partials/style %>
<body>
  <%- include partials/header %>
  <%- body %>
  <%- include partials/footer %>

  <%- include partials/script %>
</body>
</html>
